<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <!-- Bean definitions go here -->
    <aop:aspectj-autoproxy/>

    <bean id="inventoryDao" class="com.dm.vendingapi.dao.InventoryDaoImpl"/>
    <bean id="pricingDao" class="com.dm.vendingapi.dao.PricingDaoImpl"/>
    <bean id="auditDao" class="com.dm.vendingapi.dao.AuditDaoImpl"/>

    <bean id="service" class="com.dm.vendingapi.servicelayer.VendingServiceImpl">
        <constructor-arg ref="inventoryDao"/>
        <constructor-arg ref="pricingDao"/>
    </bean>

    <!--<bean id="logicIdeal" class="com.dm.vendingapi.logic.RealLogicIdealImpl" >-->
        <!--<constructor-arg ref="service" />-->
    <!--</bean>-->

    <bean id="logicRealistic" class="com.dm.vendingapi.logic.RealLogicCombinedImpl" >
        <constructor-arg ref="service" />
    </bean>

    <bean id="loggingAspect" class="com.dm.vendingapi.advice.LoggingAspect">
        <constructor-arg ref="auditDao"/>
    </bean>



</beans>